body {
    background-color: #f9f7f2;
    font-family: 'Georgia', serif;
}

.navbar {
    background-color: #f4f1ea;
    border-bottom: 1px solid #d8d8d8;
}

.brand-color {
    color: #382110;
}

.book-card {
    border: none;
    transition: transform 0.2s;
    background: none;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-img {
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #382110 !important;
    font-weight: 500;
}

.btn-custom {
    background-color: #382110;
    color: white;
    border-radius: 20px;
}

.btn-custom:hover {
    background-color: #5a3a22;
    color: white;
}

.progress-custom {
    height: 10px;
}

.progress-bar-custom {
    background-color: #382110;
}


.footer-section {
    background-color: #3c2616;
    color: white;
}

.footer-link {
    color: #f9f7f2;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer-section small {
    color: #999797;
}
