.container-profile {
  display: grid;
  grid-template-columns: 2fr 2fr; /* 25% izquierda, 75% derecha */
  gap: 20px;
  padding: 20px;
}

.perfil-section {
  position: sticky;
  top: 20px;
  height: fit-content;
}

.listas-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}