<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Adjust size to fit different devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contacto</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="d-flex flex-column min-vh-100">
<header class="navbar mb-4 row-cols-auto">
    <div class="container allign-items-center">
        <a class="navbar-brand fw-bold brand-color fst-italic " href="index.html">BOOKIFY</a>

    </div>
</header>
<main class="flex-fill container">
    <h1 class="text-center mb-4">Contacto</h1>
    <p>Si tienes alguna pregunta, sugerencia o necesitas ayuda, no dudes en contactarnos. Estamos aquí para ayudarte a disfrutar de tu experiencia en Bookify.</p>

    <h2 class="mt-4">Correo Electrónico</h2>
    <p>Puedes enviarnos un correo electrónico a: <a href="mailto:contacto@bookify.com" class="contact-links">contacto@bookify.com</a></p>

    <h2 class="mt-4">Redes Sociales</h2>
    <p>Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades, recomendaciones y eventos:</p>
    <ul>
        <li><a href="https://www.facebook.com/bookify" class="contact-links">Facebook</a></li>
        <li><a href="https://www.twitter.com/bookify" class="contact-links">Twitter</a></li>
        <li><a href="https://www.instagram.com/bookify" class="contact-links">Instagram</a></li>
    </ul>

    <h2 class="mt-4">Formulario de Contacto</h2>

    <p>También puedes utilizar el siguiente formulario para enviarnos un mensaje directamente desde nuestro sitio web:</p>
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="_replyto" required>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Mensaje</label>
        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-custom">Enviar</button>
</main>
<!-- Footer -->
{{>footer}}
<!-- End Footer-->
</body>
</html>