<footer class="footer-section mt-5 py-4 ">
  <div class="container text-center">
    <p class="mb-2 fw-bold">Bookify</p>
    <p class="small mb-2">Tu biblioteca digital personal</p>
    <div class="mb-2 row-cols-auto">
      <a href="/aboutUs" class="footer-links">Sobre nosotros</a> |
      <a href="/contact" class="footer-links">Contacto</a> |
      <a href="/pp" class="footer-links">Política de privacidad</a> |
      <a href="/ToS" class="footer-links">Términos de servicio</a>
    </div>
    <small>© 2026 Bookify. Todos los derechos reservados.</small>
  </div>
</footer>